#containerLetters{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#containerUnderscores{
    margin-top: -10px;
    display: flex;
    flex-direction: row;
    font-size: 50px;
    gap: 20px;
}

h1{
    font-size: 50px;
    visibility: hidden;
}

h2{
    font-size: 50px;
    visibility: visible;
}

