body {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#mainContainer {
    display: flex;
    flex-direction: row;
    height: auto;
}

#gameContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 150px;
    height: 500px;
}

#canvas{
    margin-bottom: 50px;
}

#scoreContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    color: black;
    width: 300px;
    height: 350px;
    margin-top: 50px;
    margin-right: 150px;   
}

#containerAnswer {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    height: 500px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}

#guessLetter{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    height: 50px;
    width: 180px;
    align-self: center;
    color: black;
    background-color: white;
}

#winScore {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding-bottom: 10px; 
    padding-top: 10px;
    border-style: solid;
    border-radius: 10px;
    margin-top: 50px;
}

#loseScore {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding-bottom: 10px; 
    padding-top: 10px;
    border-style: solid;
    border-radius: 10px;
    margin-top: 5px;
}

#displayGuesses {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding-bottom: 10px; 
    padding-top: 10px;
    border-style: solid;
    border-radius: 10px;
    margin-top: 5px;
}


#containerLetters {
    height: 50px;
    display: flex;
    flex-direction: row;
    color: white;
}

#containerUnderscores {
    height: 10px;
    width: 10px;
    display: flex;
    flex-direction: row;
    font-size: 50px;
    margin-bottom: 150px;
    margin-top: -55px;
    color: white;
}

.checker{
    text-transform: uppercase;
    font-size: 40px !important;
}

.hiddenLetter{
    width: 57px;
    font-size: 50px;
    visibility: hidden;
}

.showingLetter{
    width: 57px;
    font-size: 50px;
    visibility: visible;
    letter-spacing: 2rem;
}

#guesses{
    padding-top: 10px;
    padding-left: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    height: 500px;
    width: 250px;
    align-self: center;
    color: black;
    background-color: white;
    border-radius: 10px;
    margin-left: 150px;
}

.guessedLetter{
    display: flex; 
    flex-direction: row;
    width: 57px;
    font-size: 30px;
    text-decoration: line-through;
    text-decoration-color: red;
    text-decoration-thickness: 3px;
    text-transform: uppercase; 
}

#newGameBtn{
    margin-bottom: 50px;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 50px;
    font-size: 20px;
}